In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, recall_score, precision_score, f1_score
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data= pd.read_csv(r'/Users/IAmNaveed/Desktop/Final_Research_Project/Bank_Marketing/ohe_full.csv')
data.head()

,age,default,housing,loan,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,...,month_mar,month_may,month_nov,month_oct,month_sep,day_of_week_fri,day_of_week_mon,day_of_week_thu,day_of_week_tue,day_of_week_wed
0,0.481481,1,1,1,0.0,1.0,0.0,0,0.9375,0.698753,...,0,1,0,0,0,0,1,0,0,0
1,0.493827,0,1,1,0.0,1.0,0.0,0,0.9375,0.698753,...,0,1,0,0,0,0,1,0,0,0
2,0.246914,1,-1,1,0.0,1.0,0.0,0,0.9375,0.698753,...,0,1,0,0,0,0,1,0,0,0
3,0.283951,1,1,1,0.0,1.0,0.0,0,0.9375,0.698753,...,0,1,0,0,0,0,1,0,0,0
4,0.481481,1,1,-1,0.0,1.0,0.0,0,0.9375,0.698753,...,0,1,0,0,0,0,1,0,0,0

In [3]:
X = data.drop('y', axis=1).values
y = data['y'].values
X.shape,y.shape

((73668, 55), (73668,))

In [6]:
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state=42)

In [7]:
rfc = RandomForestClassifier(n_estimators=100)
rfc.fit(x_train, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=None,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [9]:
predict = rfc.predict(x_test)
acc = accuracy_score(predict, y_test)
pre = precision_score(predict, y_test)
rec = recall_score(predict, y_test)
f1 = f1_score(predict, y_test)
table = pd.DataFrame({
    'Metric': ['Accuracy', 'Precision', 'Recall', 'F1 Score'],
    'Score': [acc, pre, rec, f1]
    })
table

      Metric     Score
0   Accuracy  0.958780
1  Precision  1.000000
2     Recall  0.924033
3   F1 Score  0.960517

In [10]:
data = pd.read_csv(r"/Users/IAmNaveed/Desktop/Final_Research_Project/Bank_Marketing/ohe_full.csv")
X = data.drop('y', axis=1).values
y = data['y'].values
pp=data.drop('y', axis=1)
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state=42)
rfc = RandomForestClassifier(n_estimators=100)
rfc.fit(x_train, y_train)
feature_importances = pd.DataFrame(rfc.feature_importances_,index = pp.columns,columns=['importance']).sort_values('importance',ascending=False)

In [11]:
feature_importances

                               importance
age                              0.152366
euribor3m                        0.126109
campaign                         0.085576
nr.employed                      0.061668
emp.var.rate                     0.039133
housing                          0.036729
cons.conf.idx                    0.031716
loan                             0.026092
cons.price.idx                   0.022211
poutcome                         0.020292
default                          0.019885
pdays                            0.017068
job_admin.                       0.016430
marital_married                  0.016385
education_high.school            0.015995
education_university.degree      0.015337
marital_single                   0.014351
day_of_week_mon                  0.014331
job_blue-collar                  0.014164
previous                         0.014006
pdays2                           0.013890
job_technician                   0.013392
day_of_week_thu                  0.013311
day_of_week_wed                  0.013182
day_of_week_fri                  0.012805
day_of_week_tue                  0.012433
education_basic.9y               0.012396
education_professional.course    0.011082
contact_cellular                 0.010685
marital_divorced                 0.010669
contact_telephone                0.010547
job_services                     0.010173
month_may                        0.009369
job_management                   0.008952
education_basic.4y               0.008471
education_basic.6y               0.007486
job_self-employed                0.006562
education_unknown                0.006495
job_entrepreneur                 0.006464
job_retired                      0.005996
month_oct                        0.004582
job_housemaid                    0.004512
job_student                      0.004506
job_unemployed                   0.004395
month_mar                        0.003161
month_apr                        0.002797
month_jun                        0.002170
month_jul                        0.002005
month_aug                        0.001929
job_unknown                      0.001782
month_nov                        0.001660
month_sep                        0.000981
marital_unknown                  0.000871
month_dec                        0.000293
education_illiterate             0.000153